@{
    ViewData["Title"] = "Welcome";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow p-4">
                <div class="text-center">
                    <img src="~/images/dotnet_redhat-long.jpg" class="img-fluid" style="width:50%" alt="Welcome Logo" />
                </div>
                <div class="card-body">
                    <h1 class="display-4 text-center mb-4">Welcome to Our Application!</h1>
                    <p class="lead text-center">Thank you for choosing our application. We are delighted to have you on board.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
